body {
  font-family: futura, helvetica, sans-serif;
  padding: 20px;
  background-color: black;
  color: white;
}

code {
  color:limegreen
}

div {
  border-bottom: 1px solid white;
}

.bold {
  font-weight:bold ;
}